* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin-top: 40px;
    padding-top: 60px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right p {
  color: rgb(195, 0, 0);
  margin: 0;
  text-align: right;
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  font-weight: 700; /* Bold weight */
}

.home-icon {
  width: 33px;
  height: 35px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Video section styles */
#video-section {
  position: relative;
  width: 100%;
  height: 100vh; /* Full screen height */
  overflow: hidden;
}

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  object-fit: contain;
  padding-bottom: 0px;
}

/* Animation for scrolling */
body.scrolled .image-container {
  transform: translateX(-50%);
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 100;
  display: none; /* Initially hidden */
}

/* Poppins font weights */
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Apply specific font styles to elements */
p {
  font-family: "Poppins", sans-serif;
  font-weight: 400; /* Regular weight */
  color: rgb(195, 0, 0);
  padding-left: 160px;
  margin-bottom: 10px;
}

  h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500; /* Medium weight */
  color: rgb(195, 0, 0);
  padding-left: 160px;
  margin-bottom: 10px;
  }

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700; /* Bold weight */
  color: rgb(195, 0, 0);
  padding-left: 160px;
  padding-top: 20px;
  margin-bottom: 20px;
}

/* Responsive design */
@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-center p, .header-right p {
    font-size: 16px;
  }

  .artwork {
    width: 100px; /* Further adjust for small screens */
  }
}