body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  cursor: url('Icons/cursor-icon.png'), auto; /* Custom cursor */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right p {
  color: rgb(195, 0, 0);
  margin: 0;
  padding-right: 50px;
  text-align: right;
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  font-weight: 700; /* Bold weight */
}

.home-icon {
  width: 33px;
  height: 35px;
  margin-right: 10px;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 100;
  display: none; /* Initially hidden */
}

.entry-button {
  position: absolute;
  border: 2px solid rgb(195, 0, 0);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 40px;
  margin: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: large;
  color: rgb(195, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
  border-radius: 10px; /* Softer corners */
}

.entry-button:hover {
  background-color: rgba(255, 255, 255, 1);
  transform: scale(1.05); /* Pop out effect */
  z-index: 101; /* Ensure the hovered button is on top */
}

.entry-button:hover ~ .entry-button {
  opacity: 0; /* Hide other buttons */
}

/* Poppins font weights */
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}